# global requirements
gunicorn==20.1.0
{% if cookiecutter.project_backend == "fastapi" %}
uvicorn==0.23.2
{% endif %}

{% if 'postgres' in cookiecutter.db_resource %}
# postgres requirements
psycopg2-binary==2.9.6
{% endif %}

{% if cookiecutter.project_backend == "django" %}
# django requirements
django
django-crispy-forms
crispy-bootstrap4
whitenoise
opencensus-ext-azure
opencensus-ext-django
{% endif %}
