{% raw %}
{% extends 'base.html' %}

{% block title %}
ReleCloud - {{ cruise }}
{% endblock %}

{% block content %}
<h1>{{ cruise }}</h1>
<p>
{{ cruise.description }}
</p>
<p>This cruise visits the following destinations:</p>
<div class="list-group">
    {% endraw %}
    {{ 'cruise' | get_model_url_for_backend(relation='destination', framework=cookiecutter.project_backend) }}
    <a class="list-group-item list-group-item-action" href="{{ 'destination' | get_detail_url_for_backend(framework=cookiecutter.project_backend)}}">{{"{{ destination }}"}}</a>
    {% raw %}
    {% endfor %}
</div>
{% endblock content %}
{% endraw %}