# global requirements
gunicorn==20.1.0

{% if cookiecutter.db_resource in ('postgres-flexible', 'cosmos-postgres') %}
# postgres requirements
psycopg2-binary==2.9.6
{% endif %}

{% if cookiecutter.project_backend == "fastapi" %}
# fastapi requirements
fastapi
sqlmodel
jinja2
uvicorn[standard]
python-multipart
{% endif %}

{% if cookiecutter.project_backend == "django" %}
# django requirements
django
django-crispy-forms
crispy-bootstrap4
whitenoise
opencensus-ext-azure
opencensus-ext-django
{% endif %}