-r src/requirements.txt

# Cookiecutter Support
cruft
pip-tools

# Testing Tools
coverage
pytest
pytest-cov
{% if cookiecutter.project_backend == "django" %}
pytest-django
{% endif %}
{% if cookiecutter.project_backend == "flask" %}
pytest-flask
{% endif %}
pytest-playwright

# Linters
ruff