-r src/requirements.txt
pytest
coverage
pytest-cov
pytest-playwright
pip-tools
ruff
black

{% if cookiecutter.project_backend == "django" %}
pytest-django
{% endif %}
{% if cookiecutter.project_backend == "flask" %}
pytest-flask
{% endif %}