-r {{cookiecutter.__src_folder_name}}/requirements.txt
pytest
pytest-playwright
pip-tools

{% if cookiecutter.project_backend == "django" %}
# Django Testing Tools
pytest-django
{% endif %}

{# 
{% if cookiecutter.project_backend == "django" %}
# Django Testing Tools
pytest-django
{% endif %}

{% if cookiecutter.project_backend == "django" %}
# Django Testing Tools
pytest-django
{% endif %}
#}